.round_button {
    background-color: whitesmoke; /* Green */
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid black; /* Green */


}