<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание новой книги</title>
    <link rel="stylesheet" type="text/css" href="../css/edit_styles.css" th:href="@{/css/edit_styles.css}">
</head>
<body>
<form style="max-width: 500px; margin-left: auto; margin-right: auto; padding: 15px"
      th:method="POST" th:action="@{/books}" th:object="${book}">
    <div class="text-field">
        <label class="text-field__label" for="bookName">Введите название книги:</label>
        <input class="text-field__input" type="text" th:field="*{bookName}" id="bookName"/>
        <div style="color: red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Book Name error</div>
    </div>
    <br>
    <div class="text-field">
        <label class="text-field__label" for="authorName">Введите имя автора:</label>
        <input class="text-field__input" type="text" th:field="*{authorName}" id="authorName"/>
        <div style="color: red" th:if="${#fields.hasErrors('authorName')}" th:errors="*{authorName}">Author Name error</div>
    </div>
    <br>
    <div class="text-field">
        <label class="text-field__label" for="yearOfPublication">Введите год публикации:</label>
        <input class="text-field__input" type="text" th:field="*{yearOfPublication}" id="yearOfPublication"/>
        <div style="color: red" th:if="${#fields.hasErrors('yearOfPublication')}" th:errors="*{yearOfPublication}">Year error</div>
    </div>

    <br>
    <hr>
    <input class="standard_text" type="submit" value="Создать книгу">
</form>
</body>
</html>